form {
    display: flex;
    flex-direction: column;
    padding: 3%;
  }
  
  .footer-actions {
    position: absolute;
    bottom: 3%;
    right: 3%;
  }
  
  .page-title {
    margin-top: 3%;
    margin-left: 3%;
  }
  