form {
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.page-title {
  margin-top: 3%;
  margin-left: 3%;
}
