<form [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fecha de descubrimiento</mat-label>
    <input
      matInput
      formControlName="date"
      type="date"
      [(ngModel)]="newProduct.date"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Copyright</mat-label>
    <input
      matInput
      formControlName="copyright"
      [(ngModel)]="newProduct.copyright"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput formControlName="title" [(ngModel)]="newProduct.title" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Descripción</mat-label>
    <input
      matInput
      formControlName="description"
      [(ngModel)]="newProduct.description"
    />
  </mat-form-field>
  <mat-form-field
    *ngIf="newProduct.media_type === 'image'"
    class="example-full-width"
    appearance="fill"
  >
    <mat-label>Imagen listado</mat-label>
    <input matInput formControlName="url" [(ngModel)]="newProduct.url" />
  </mat-form-field>

  <mat-form-field
    *ngIf="newProduct.media_type === 'image'"
    class="example-full-width"
    appearance="fill"
  >
    <mat-label>Imagen detalle</mat-label>
    <input matInput formControlName="hdurl" [(ngModel)]="newProduct.hdurl" />
  </mat-form-field>
</form>

<div class="footer-actions">
  <div>
    <button
      *ngIf="edit"
      (click)="manageAction(actions.delete)"
      mat-button
      color="danger"
    >
      Eliminar
    </button>
  </div>

  <div>
    <button mat-button [mat-dialog-close]>Cancelar</button>

    <button
      *ngIf="edit"
      [disabled]="!form.valid"
      (click)="manageAction(actions.update)"
      mat-button
      color="primary"
    >
      Guardar
    </button>
    <button
      *ngIf="!edit"
      [disabled]="!form.valid"
      (click)="manageAction(actions.create)"
      mat-button
      color="primary"
    >
      Crear
    </button>
  </div>
</div>
