<div class="toolbar" role="banner">
  <img width="40" alt="App Logo" src="assets/imgs/logo.jpg" />
  <span>ProductAp</span>
  <div class="spacer"></div>
  <button mat-icon-button (click)="formProduct(newProduct)">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</div>

<div class="content" role="main">
  <h2>Listado de Productos</h2>
  <p>Empieza a gestionar tus productos</p>

  <button
    mat-icon-button
    class="refresh-button"
    (click)="refreshListProducts()"
  >
    <span>Refrescar productos</span>
    <mat-icon>refresh</mat-icon>
  </button>

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div class="container-empty-results" *ngIf="emptyProducts">
    <p>No se han encontrado productos.</p>
    <p>Vuelve a intentarlo en unos minutos.</p>
  </div>

  <app-product-list
    class="card-container"
    [productList]="products"
    (action)="formProduct($event)"
  ></app-product-list>
  <router-outlet></router-outlet>
</div>
